@model IEnumerable<MyToDoProject.Models.Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model)
        {
            <a class="dropdown-item" asp-area="" asp-controller="ToDoes" asp-action="Index" asp-route-CategoryId="@item.Id">@item.Name</a>
        }
    </div>
</li>